<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-grid.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-reboot.css" />
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
    <header>
        <div class="Logo">
            <a asp-action="Index" asp-controller="Home">
                <span class="Logo1">Auction</span>
                <span class="Logo2">.net</span>
            </a>
        </div>
        <div class="Menu">
            <div class="point-1 dropdown">
                <button class="dropbtn">Аукционы</button>
                <div class="dropdown-content">
                    <a href="#">Авто</a>
                    <a href="#">Еда</a>
                    <a href="#">Одежда</a>
                    <a href="#">Недвижимость</a>
                    <a href="#">Искусство</a>
                    <a href="#">Чай</a>
                </div>
            </div>
            <div class="point-2">
                Лоты
            </div>
            <div class="point-3">
                Торги
            </div>
        </div>
        <div class="Account dropdown">       
            <img class="dropbtn" src="~/image/account_circle.svg" />
            <div class="dropdown-content acc">
                <a asp-action="Index" asp-controller="User">Мой профиль</a>
                <a asp-action="Index" asp-controller="Friends">Друзья</a>
                <a asp-action="Dialog" asp-controller="Messanger">Диалоги</a>
                <a asp-action="Lot" asp-controller="User">Мои лоты</a>
                <a asp-action="Index" asp-controller="Auction">Мои аукционы</a>
                <a href="#">Мои торги</a>
                <a asp-action="Logout" asp-controller="Account">Выход</a>
            </div>   
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="_framework/blazor.server.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
